.menu_filter {

    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    flex-wrap: wrap;
    gap: 15px 25px;
    align-items: center;
    justify-content: center;
}

.select_block {

    width: 100%;
    z-index: 0;

}

.Menu_filter_btn {
    border: 2px solid aliceblue;
    background-color: transparent;
    font-weight: 800;
    font-size: 20px;
    width: 100%;
    padding: 10px 25px;
    border-radius: 15px;
    color: aliceblue;
}