.User_info {

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.btn_menu {

    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    text-align: left;
    gap: 15px;

}

.Button {

    // outline: 2px solid #0087D1;
    // outline-offset: -5px;
    // border: 2px solid #0087D1;
    border: none;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, .7), 0 0 0px 0 hsla(0, 0%, 0%, .5) inset;
    border-radius: 15px;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 15px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 15px;
    transform: scale(1);
    transition: all .5s;

    &:hover {
        transform: scale(.95);
        box-shadow: 0 0 0px 0 hsla(0, 0%, 0%, .7), 0 0 6px 0 hsla(0, 0%, 0%, .5) inset;
    }
}