.Header_container {

    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    background-color: rgba($color: #000000, $alpha: .2);
    padding: 10px 15px;
}

.User_button {

    outline: 1px solid aliceblue;
    outline-offset: 0;
    border: none;
    border-radius: 15px;
    background-color: transparent;
    padding: 5px 15px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    transition: all .5s;

    &:hover {
        outline-offset: 4px;
        background-color: aliceblue;
        color: black;
    }

}

.Header_nav_btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.nav_btn {

    text-decoration: none;
    color: aliceblue;
    border: none;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    transition: all .5s;
    transform: scale(1);

    &:hover {
        opacity: .8;
        transform: scale(.95);

    }
}

.NavMenu {
    background-color: transparent;

    & a {
        background-color: transparent !important;
        color: #fff;
        border: none;
        box-shadow: none !important;
        transition: all .5s;
        position: relative;
    }
}

.NavBtn {

    background-color: transparent !important;
    color: #fff;
    border: none;
    box-shadow: none !important;
    transition: all .5s;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition: all .5s;
        transform: scale(0);
    }

    &:hover::after {
        transform: scale(1);
    }

    &:hover,
    &:focus {
        color: #ffffff65 !important;
    }


}

.NavSign {
    background-color: transparent !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    outline: 0px solid #fff;
    outline-offset: 0;
    box-shadow: none !important;
    transition: all .5s;
    padding: 0 25px;
    border-radius: 15px;

    &:hover {
        outline: 2px solid #fff;
        outline-offset: -5px;
        opacity: .7;
    }

}