$FFF9D0 :#FFF9D0;
$CAF4FF: #CAF4FF;
$A0DEFF: #A0DEFF;
$a5AB2FF: #5AB2FF;

:root {
    // background-color: #0087D1;

    --bacgColor: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid red;

}